---
layout: page
title: Tags
header: Posts By Tag
group: navigation
---

<div style="padding-top:10px;" >
  {% for tag in site.tags %}
    <div class="btn secondary large"><a href="#{{ tag[0] }}">{{ tag[0] }}</a></div>
  {% endfor %}
</div>


{% for tag in site.tags %}
  <h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
  <ul>
    {% for node in tag[1] %}
      {% if node.title != null %}
        <li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}
