<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}{% if page.tagline %} - {{ page.tagline }}{% endif %}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="/assets/css/gumby.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}/atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}/rss.xml" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
  	<div class="row">
		<article id="top-nav" class="valign row">
			<div>
				<h1><a href="/">Alex Boyd</a></h1>
			</div>
			<div>
	  			<ul>
	            	<li class="secondary btn"><a href="/archive.html">Archive</a></li>
	            	<li class="secondary btn"><a href="/tags.html">Tags</a></li>
	            	<li class="secondary btn"><a href="/about.html">About</a></li>
				</ul>
			</div>
		</article>
  	</div>
<!-- 
	<div class="row">
       <div class="danger alert">
         This site is still a work in progress <br /> I am aware things are broken :)
       </div>
	</div>
	 -->
	{{ content }}
	
     <div id="about" class="container shade default">
		<div class="row">
			<div class="push_three two column">
				<img alt="ME" src="http://aaboyd.github.io/assets/img/me.png" />
			</div>
			<div class="six column">
				<p>
					<a href="/about.html">About Alex</a><br />
					Sofware Engineer, Detroiter, Gamer, Sports fan<br />
					Writing here to keep track of his thoughts, and maybe help someone along the way.
				</p>
				<span><a href="http://github.com/{{ site.author.github }}" target="_blank"><i class="large icon-github"></i></a></span>    
                   <span><a href="http://bitbucket.org/{{ site.author.bitbucket }}" target="_blank"><i class="large icon-bucket"></i></a></span>
                   <span><a href="http://plus.google.com/u/1/{{ site.author.gplus }}" target="_blank"><i class="large icon-gplus"></i></a></span>
                   <span><a href="https://twitter.com/{{ site.author.twitter }}" target="_blank"><i class="large icon-twitter"></i></a></span>
                   <span><a href="mailto:{{ site.author.email }}" target="_blank"><i class="large icon-mail"></i></a></span>
			</div>
		</div>
	</div>
	
    <div id="footer" class="container shade secondary">
      <div class="row">
        <footer class="centered eight column">
          &copy; Copyright {{ site.time | date: '%Y' }} <a href="/about.html">{{ site.author.name }}</a>,
          Designed by <a href="/about.html">{{ site.author.name }}</a></span>
          with the help of <a href="http://gumbyframework.com">Gumby</a>
        </footer>        
      </div>
    </div>
        
    <script src="/assets/js/libs/jquery-1.9.1.min.js"></script>
    <script src="/assets/js/libs/modernizr-2.6.2.min.js"></script>
    <script gumby-path="/assets/js/libs" src="/assets/js/libs/gumby.min.js"></script>
    <script src="/assets/js/libs/gumby.init.js"></script>
    
    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.analytics.google.tracking_id }}']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
    </script>
  </body>
</html>
